{% extends "main_layout.html" %}
{% block content %}


 <div class="content-wrapper">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="row">
        <div class="col-md-6">
          <div class="card card-default">
            <div>
              <div class="alert alert-{{category}} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> {{category}}!</h5>
                Berhasil Hapus Data Cleaning
              </div>
            </div> 
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
    
              <!-- /.card -->
    
              <div class="card">
                <div class="card-header">
                  <a href="/hapus_cleaning">
                    <i class="fa fa-trash"></i> <span>Delete Data</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                </div>
                <div class="card-header">
                  <a href="/transformasi_csv">
                    <i class="fa fa-edit"></i> <span>Transformasi</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Sisdig</th>
                        <th>Daspro</th>
                        <th>Alpro</th>
                        <th>Matdis</th>
                        <th>Arkom</th>
                        <th>Basdat</th>
                        <th>Metnum</th>
                        <th>Strukdat</th>
                        <th>SBD</th>
                        <th>SO</th>
                        <th>Jarkom</th>
                        <th>KI</th>
                        <th>RPL</th>
                        <th>SI</th>
                        <th>PB</th>
                        <th>Status Kelulusan</th>
                      </tr>
                    </thead>
  
                    <tbody>
                      {% for data in tables %}
                      <tr class="even pointer">
                          {% for row in data %}
                              <td class="a-center ">{{row}}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
  
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  
    </div>
{% endblock content%}