{% extends "main_layout.html" %}
{% block content %}



{% if tables %}
<div class="content-wrapper">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="row">
      <div class="col-md-6">
        <div class="card card-default">
          <div>
            <div class="alert alert-{{category}} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h5><i class="icon fas fa-check"></i> {{category}}!</h5>
              Berhasil Hapus Data Cleaning
            </div>
          </div> 
        </div>
      </div>
    </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
  
            <!-- /.card -->
  
            <div class="card">
              <div class="card-header">
                <a href="/hapus_cleaning">
                  <i class="fa fa-trash"></i> <span>Delete Data</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>


              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>PTIK</th>
                    <th>Sisdig</th>
                    <th>Daspro</th>
                    <th>Algoritma Pemograman</th>
                    <th>ECS</th>
                    <th>Matdis</th>
                    <th>Arsitek</th>
                    <th>Basis Data</th>
                    <th>Metnum</th>
                    <th>TBO</th>
                    <th>Strukdat</th>
                    <th>Sistem Basis Data</th>
                    <th>Sistem Operasi</th>
                    <th>Jarkom</th>
                    <th>Keamanan Informasi</th>
                    <th>RPL</th>
                    <th>Sistem Informasi</th>
                    <th>Kecerdasan Buatan</th>
                    <th>MPTI</th>
                    <th>Pemograman Bergerak</th>
                    <th>Kerja Praktek</th>
                    <th>TA</th>
                    <th>Status Kelulusan</th>
                  </tr>
                  </thead>

                  <tbody>
                    {% for data in tables %}
                    <tr class="even pointer">
                        {% for row in data %}
                            <td class="a-center ">{{row}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
    {% else %}
    <div class="content-wrapper">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="row">
          <div class="col-md-6">
            <div class="card card-default">
              <div>
                <div class="alert alert-{{category}} alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <h5><i class="icon fas fa-check"></i> {{category}}!</h5>
                  Berhasil Hapus Data Cleaning
                </div>
              </div> 
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      
      <section class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>General Form</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">General Form</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Quick Example</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form action="action_upload" method="post">
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="exampleInputFile" name="upload_cleaning">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                          </div>
                          <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        </div>
        
    
  {% endif %}
  

{% endblock content%}